{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<h2>This is about us page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores dolor et eum laboriosam perferendis possimus unde voluptatibus.
    Amet asperiores assumenda cupiditate inventore magni nisi pariatur, quidem quo ratione temporibus?</p>
<img src="{% static 'images/django.png' %}" alt="">
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis, deleniti, dolorum ducimus, eius esse illo in magnam maxime nihil qui quo repudiandae vitae. Commodi distinctio id magni sed sunt!</span><span>Alias aliquam aliquid beatae blanditiis commodi cum dolore dolorem eligendi eos explicabo facilis fugiat id mollitia neque non
    pariatur perspiciatis quos rem sapiente sequi, soluta velit veniam vero vitae, voluptatem!</span></p>

</body>
</html>