{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
<h2>Blog</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dignissimos ea eligendi ipsam laborum minima nam odit, praesentium
    quae quas rem sint totam! Aliquam ipsam iste neque possimus reiciendis vero.</p>
<img src="{% static 'images/reactjs.png' %} " alt="">
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dolorem eligendi est et, exercitationem hic impedit iure laudantium minus, molestiae rerum! Exercitationem expedita illo quis, sit tenetur totam vitae.</span><span>Enim fugit ipsam labore sapiente sint sit veritatis. Alias consequuntur doloremque eius facilis illum ipsa iusto laborum magnam minima nulla
    omnis perferendis quae quaerat, quisquam recusandae sapiente sequi similique velit.</span></p>

</body>
</html>