{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
</head>
<body>
<h2>This is contact us page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus eius explicabo hic molestiae, nemo quos tempora
temporibus tenetur! Autem facilis, fugiat illo iste quae quam quasi reprehenderit tempora ullam?</p>
<img src="{% static 'images/python.png' %}" alt="">
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eius libero provident? Alias amet corporis culpa cum cupiditate, earum ex excepturi facere laborum laudantium optio quaerat qui totam ut voluptatem.</span><span>Accusamus asperiores aspernatur dolores illum inventore nobis perferendis porro quisquam repellendus voluptatum! Ab cumque eos id iusto magni officiis perspiciatis tempora
    vel voluptates voluptatum. Alias animi exercitationem incidunt minus nostrum?</span></p>

</body>
</html>