{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Media</title>
</head>
<body>
<h2>This is the media page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at aut cupiditate dolore impedit tempore voluptates.
    Ad architecto at atque deleniti ducimus eaque id laudantium nemo nobis odit qui, repellat!</p>
<img src="{% static 'images/php.png' %}" alt="">
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam culpa delectus necessitatibus nemo nihil nisi possimus suscipit voluptates, voluptatibus. Delectus, dolor iste iure nulla quam ratione temporibus vero voluptate!</span><span>Autem culpa ex maiores odit pariatur quidem suscipit tempora. Aliquam amet magnam odio odit quam, quod sit. Ab accusantium architecto
    dolor error in, molestiae nostrum nulla perferendis, repellendus reprehenderit veniam!</span></p>

</body>
</html>