{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
</head>
<body>
<h2>We offer the following services</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque culpa cumque eos illo, ipsam quaerat. Delectus expedita ipsum minus,
    molestias nulla obcaecati quibusdam velit. Aliquam beatae cum delectus eligendi?</p>
<img src="{% static 'images/javascript.png' %}" alt="">
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi impedit libero nam quo vitae. Ad assumenda consequatur corporis cumque fuga ipsam quae velit. Commodi debitis dolor fuga iure numquam.</span><span>At dolorum enim error iusto libero ratione rem reprehenderit rerum sit! Consectetur, consequatur consequuntur dolorem doloribus incidunt ipsam labore laborum
    magni mollitia nam, nihil quibusdam reprehenderit saepe, sapiente sed voluptas!</span></p>

</body>
</html>